.calculator{
    display: inline-block;
    border: 1px solid black;
    padding: 1.2rem 0.5rem;
    border-radius: 1rem;
    background-color: black;
}

.display{
    height: 10rem;
    width: 15rem ;
    background-color: black;
    border: none;
    color: aliceblue;
    font-size: 2.5rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    align-items: flex-end;
    justify-content: end;
    overflow-y: auto;
    box-sizing: border-box;
}

.cal-rows{
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero-number{
    flex: 2;
    border-radius: 3.2rem;
}

button{
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    margin: 0.4rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: aliceblue;
}

.operator{
    background-color: orange; 
    font-size: 2rem;  
}

.operator:hover{
    background-color: rgb(244, 217, 166);
}

.number,
.zero-number,
.point
{
    background-color: rgb(44, 44, 44);
}

.number:hover,
.zero-number:hover,
.point:hover{
    background-color: rgb(103, 102, 102);
}

.function{
    background-color: rgb(173, 173, 173);
    color: black;
}

.function:hover{
    background-color: whitesmoke;
}